@import url('https://fonts.googleapis.com/css2?family=Goldman&family=League+Spartan:wght@100&family=Old+Standard+TT&display=swap');

$offwhite:#EEE8D6;
$darkblue:#022933;
$yellow:#FFBA00;
$blue:#0076A3;
$green: #548C27;
$red:#D14348;
$purple:#6D73C2;

$color-main: $blue;
$color-variable: $offwhite;
$color-headlines: $yellow;

$font-main: 'League Spartan', sans-serif, 'Times New Roman';
$font-headlight:'Goldman', serif;