
body 
	{ 
		background-color: #FFFFFF;
		color: #666666;
		font-family: Arial, Helvetica, sans-serif;
	}

	header 
	{ 
		background-color: #000033;
		color: #FFFFFF; 
		background-image: url('../images/sunset.jpg');
		background-position: right;
		background-repeat: no-repeat; 
		line-height: 400%;
		text-indent: 1em;
	}

	nav
	{ 
		background-color: #90C7E3;
		font-weight: bold;
		margin-top:-19px;
	}
	nav ul li{
		display:block;
	}

	nav a 
	{ 

		text-decoration: none; 
	}

	img {
		max-width: 100%;
	} 
	h1 
	{ 
		margin-bottom: 0; 
		font-family: Georgia, 'Times New Roman', serif; 
	}
		
	h2 
	{ 
		color: #3399CC; 
		font-family: Georgia, 'Times New Roman', serif; 
		display:none;
	}
		
	h3 
	{ 
		color: #000033;
		font-family: Georgia, 'Times New Roman', serif; 
	}

	main > ul > li
	{ 
		list-style-image: url('../images/marker.gif'); 
		margin:0;
		padding:0;
	} 

	footer 
	{ 
		font-size: 75%;
		font-weight: bold;
		text-align: center;
		font-family: Georgia, 'Times New Roman', serif;
		background-image:linear-gradient(white,#90C7E3 40%);
	}
		
	dt 
	{ 
		color: #000033; 
	}

	.resort 
	{ 
		color: #5C7FA3; 
		font-weight: bold;
	}

	#contact
	{ 
		font-size: 90%; 
	}
	nav{
		display:block;

	}
	img{
		display:none;
	}

/*-----------------------------
			TABLET
-----------------------------*/

@media screen and (min-width:641px){

h2{
	display:block;
}
img{
	display:block;
}
nav ul li{
	display:inline;
}
}